p {
    font-family: cursive;
	color: rgb(0, 10, 143);
}

p.info {
	font-size: small;
	background-color: #ff0000;
}

h1 {
    color: rgb(0, 8, 255);
	text-shadow: rgb(103, 196, 246) 1px 0 10px;
}
 
h2 {
	color: #c3e2ff;
	background: linear-gradient(.25turn, rgb(8, 0, 255), 50%, #2e00ab);
}

h3 {
    color: rgb(21, 99, 255);
	text-shadow: rgb(40, 179, 230) 1px 0 10px;
}